:root {
  --color-100: #FFFFFF;
  --color-200: #FDFDFF;
  --color-300: #E1E2FF;
  --color-350: #f1f1f1;
  --color-400: #DFE0EB;
  --color-500: #A1A1A1;
  --color-600: #000000;
  --color-700: #7879F1;
  --color-800: #AF6BE7;
  --color-900: #d14040;
}